.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

p {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 25px;
    object-fit: cover;
    width: 50%;
    height: 50%;
    border: 5px solid;
    border-color: black;

}

h1, h2, h3 {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#aboutheader {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 20px;
    /* color: navy; */
    /* This is just a test to see if the 
    id works. */
}


ol {
    margin: 70px;
}

body {
    background-color: burlywood;
}